img {
    width: 500px;
    border-radius: 5px;
    border: 1px solid steelblue;
    margin: 5px 5px 5px 5px;
}

table {
    margin: 20px 0 0 10px;
}

th {
    font-size: large;
    padding: 2px 2px 2px 2px;
    background-color: steelblue;
}

tr {
    border-radius: 5px;
}

td {
    padding: 2px 2px 2px 2px;
    background-color: #e0e0e0;
}