{% extends 'base_backend_frameless.html' %}
{% load static %}

{% block header_tail %}
    {#    <meta http-equiv="refresh" content="5">#}
    <link rel="stylesheet" href="{% static 'AppSimulator/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
    <div id="main" v-cloak>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <p>Memory</p>
                        <h3>[[ proxyServerInfo.memory_rate ]]%</h3>
                    </div>
                    <div class="icon">
                        <i class="fa fa-mobile-phone"></i>
                    </div>
                    <button v-on:click="startProxyServer" class="btn btn-xs btn-success">重启代理服务</button>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-green">
                    <div class="inner">
                        <p>CPU</p>
                        <h3>[[ proxyServerInfo.cpu_percent ]]%</h3>
                    </div>
                    <div class="icon">
                        <i class="fa fa-mobile-phone"></i>
                    </div>
                    <a href="/AppSimulator/dashboard/" class="small-box-footer">
                        详情&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <p>HD（C:）</p>
                        <h3>0</h3>
                    </div>
                    <div class="icon">
                        <i class="fa fa-mobile-phone"></i>
                    </div>
                    <a href="/AppSimulator/dashboard/" class="small-box-footer">
                        详情&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <div class="small-box bg-red">
                    <div class="inner">
                        <p>Total(10s)</p>
                        <h3>[[ device1.cnt + device2.cnt + device3.cnt + device4.cnt]]</h3>
                    </div>
                    <div class="icon">
                        <i class="fa fa-mobile-phone"></i>
                    </div>
                    <a href="/AppSimulator/dashboard/" class="small-box-footer">
                        详情&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- device1 -->
            <section class="col-md-3 connectedSortable">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <label class="box-title">device1</label>
                        <span v-bind:class="[device1.status==='unkown'?'badge bg-gray':
                        (device1.status==='running'?'badge bg-green':'badge bg-yellow')]">[[ device1.status ]]
                        </span>
                        <span class="badge">[[ device1.cnt ]]</span>
                        <div class="box-tools pull-left">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="device1" class="device-img">
                            <div class="col-md-6" title="before">
                                <img id="before" src="{% static 'AppSimulator/images/capture_before.png' %}" height="240"
                                     style="border-radius:3px;">
                                <label>before</label>
                            </div>
                            <div class="col-md-6" title="current">
                                <img id="current" src="{% static 'AppSimulator/images/capture.png' %}" height="240"
                                     style="border-radius:3px;">
                                <label>current</label>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="text" placeholder="latitude" v-model="latitude" style="width:35%;">
                        <input type="text" placeholder="longitude" v-model="longitude" style="width:35%;">
                        <button v-on:click="setDeviceGPS" class="btn btn-xs btn-info">位置设定</button>
                        <button v-on:click="restartDevice" class="btn btn-xs btn-info">重启</button>
                        <button v-on:click="startScript" class="btn btn-xs btn-info">运行脚本</button>
                        <button v-on:click="stopScript" class="btn btn-xs btn-info">停止脚本</button>
                    </div>
                </div>
            </section>
            <!-- device2 -->
            <section class="col-md-3 connectedSortable">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">device2
                            <span v-bind:class="[device2.status==='unkown'?'badge bg-gray':
                        (device2.status==='running'?'badge bg-green':'badge bg-yellow')]">[[ device2.status ]]
                            </span>
                            <span class="badge">[[ device2.cnt ]]</span>
                        </h3>
                        <div class="box-tools pull-left">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="device2" class="device-img">
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="text" placeholder="latitude" v-model="latitude" style="width:35%;">
                        <input type="text" placeholder="longitude" v-model="longitude" style="width:35%;">
                        <button v-on:click="setDeviceGPS" class="btn btn-xs btn-info">位置设定</button>
                        <button class="btn btn-xs btn-success">重启</button>
                    </div>
                </div>
            </section>
            <section class="col-md-3 connectedSortable"><!-- device3 -->
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">device3
                            <span v-bind:class="[device3.status==='unkown'?'badge bg-gray':
                        (device3.status==='running'?'badge bg-green':'badge bg-yellow')]">[[ device3.status ]]
                            </span>
                            <span class="badge">[[ device3.cnt ]]</span>
                        </h3>
                        <div class="box-tools pull-left">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="device3" class="device-img">
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="text" placeholder="latitude" v-model="latitude" style="width:35%;">
                        <input type="text" placeholder="longitude" v-model="longitude" style="width:35%;">
                        <button v-on:click="setDeviceGPS" class="btn btn-xs btn-info">位置设定</button>
                        <button class="btn btn-xs btn-success">重启</button>
                    </div>
                </div>
            </section>
            <section class="col-md-3 connectedSortable"><!-- device4 -->
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">device4
                            <span v-bind:class="[device4.status==='unkown'?'badge bg-gray':
                        (device4.status==='running'?'badge bg-green':'badge bg-yellow')]">[[ device4.status ]]
                            </span>
                            <span class="badge">[[ device4.cnt ]]</span>
                        </h3>
                        <div class="box-tools pull-left">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="device4" class="device-img">
                        </div>
                    </div>
                    <div class="box-footer">
                        <input type="text" placeholder="latitude" v-model="latitude" style="width:35%;">
                        <input type="text" placeholder="longitude" v-model="longitude" style="width:35%;">
                        <button v-on:click="setDeviceGPS" class="btn btn-xs btn-info">位置设定</button>
                        <button class="btn btn-xs btn-success">重启</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock section_content %}

{% block jquery_js %}

{% endblock jquery_js %}

{% block body_tail %}
    <!-- page script -->
    <script type="text/javascript"
            src="{% static 'plugins/echarts/extension/dataTool.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/echarts/echarts-all-3.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/demo.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/dark.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/infographic.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/macarons.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/roma.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/shine.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/vintage.js' %}"></script>
    <script type="text/javascript" src="{% static 'AppSimulator/js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/vue1/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'AppSimulator/js/dashboard.js' %}"></script>
    <script type="text/javascript">
        {#const HOST = "http://172.16.55.155:8000";#}
        {#const HOST = "http://192.168.31.227:8000";#}
        const DEVICE_STATUS_UNKOWN = 'unkown';
        const DEVICE_STATUS_RUNNING = 'running';
        const DEVICE_STATUS_SUSPEND = 'suspend';

        function setDeviceGPS(obj) {
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/setDeviceGPSAPI/',
                type: 'POST',
                data: {
                    deviceId: obj.deviceId,
                    latitude: obj.latitude,
                    longitude: obj.longitude
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] setDeviceGPSAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function restartDevice(obj) {
            console.log("restartDevice ...");
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/restartDeviceAPI/',
                type: 'GET',
                data: {
                    deviceId: obj.deviceId
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] restartDeviceAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function startProxyServer(obj) {
            console.log("start proxy server ...");
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/startProxyServerAPI/',
                type: 'GET',
                data: {},
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] startProxyServerAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function startScript(obj) {
            console.log("startScript ...");
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/startScriptAPI/',
                type: 'GET',
                data: {
                    deviceId: obj.deviceId
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] startScriptAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function stopScript(obj) {
            console.log("stopScript ...");
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/stopScriptAPI/',
                type: 'GET',
                data: {
                    deviceId: obj.deviceId
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] stopScriptAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        //----------------------------------------------------------------------------
        Vue.config.delimiters = ['[[', ']]'];
        //----------------------------------------------------------------------------
        let mainVue = new Vue({
            el: "#main",
            data: {
                proxyServerInfo: {
                    memory_rate: 0,
                    cpu_percent: 0
                },
                deviceId: 'device1',
                device1: {cnt: 0, status: DEVICE_STATUS_UNKOWN},
                device2: {cnt: 0, status: DEVICE_STATUS_UNKOWN},
                device3: {cnt: 0, status: DEVICE_STATUS_UNKOWN},
                device4: {cnt: 0, status: DEVICE_STATUS_UNKOWN},
                district: '海淀区',
                lng_lat: "",
                latitude: 39.6099202570, // 经度
                longitude: 118.1799316404, // 纬度
                current_address: "",
                search_address: '',
                msg: ""
            },
            methods: {
                trace: function () {
                },
                setDeviceGPS: function () {
                    setDeviceGPS(this);
                },
                restartDevice: function () {
                    restartDevice(this);
                },
                startScript: function () {
                    startScript(this);
                },
                stopScript: function () {
                    stopScript(this);
                },
                startProxyServer: function () {
                    startProxyServer(this);
                }
            },
            ready: function () {
            },
            watch: {},
            computed: {}
        });
    </script>
{% endblock body_tail %}
