{% extends 'base_backend_frameless.html' %}
{% load static %}

{% block header_tail %}
    {#<meta http-equiv="refresh" content="5">#}
    <link rel="stylesheet" href="{% static 'AppSimulator/css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
    <div id="main" v-cloak>
        <div class="row">
            <div class="col-md-2">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <p>Server - Memory</p>
                        <h3>[[ proxyServerInfo.memory_rate ]]%</h3>
                    </div>
                    <div class="icon">
                        <img class="top-icon" src="{% static 'AppSimulator/images/page/memory.png' %}">
                    </div>
                    <a href="/AppSimulator/dashboard/" class="small-box-footer">
                        详情&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                    {#<button v-on:click="startProxyServer" class="btn btn-xs btn-success">重启代理服务</button>#}
                </div>
            </div>
            <div class="col-md-2">
                <div class="small-box bg-green">
                    <div class="inner">
                        <p>Server - CPU</p>
                        <h3>[[ proxyServerInfo.cpu_percent ]]%</h3>
                    </div>
                    <div class="icon">
                        <img class="top-icon" src="{% static 'AppSimulator/images/page/cpu.png' %}">
                    </div>
                    <a href="/AppSimulator/dashboard/" class="small-box-footer">
                        详情&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <p>Server - HD</p>
                        <h3>[[ proxyServerInfo.hd_percent ]]%</h3>
                    </div>
                    <div class="icon">
                        <img class="top-icon" src="{% static 'AppSimulator/images/page/hd.png' %}">
                    </div>
                    <a href="/AppSimulator/dashboard/" class="small-box-footer">
                        详情&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                <div class="small-box bg-red">
                    <div class="inner">
                        <p>Dedup/Total (10s)</p>
                        <h3>10
                            <small>10</small>
                        </h3>
                    </div>
                    <div class="icon">
                        <i class="fa fa-star-half-empty"></i>
                    </div>
                    <a href="/AppSimulator/dashboard/" class="small-box-footer">
                        详情&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-2"><!-- rpc server / dockers -->
                <div class="small-box bg-gray">
                    <div class="inner">
                        <p>Machine / Emulator</p>
                        <h3>[[ rpcServer | count ]] / [[ dockersCnt ]]</h3>
                    </div>
                    <div class="icon">
                        <img class="top-icon" src="{% static 'AppSimulator/images/page/emulator.png' %}">
                    </div>
                    <a href="/AppSimulator/dashboard/" class="small-box-footer">
                        详情&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-2"><!-- Support App -->
                <div class="small-box bg-gray">
                    <div class="inner">
                        <p>Support App</p>
                        <label v-for="app in support_app_list">
                            <img height="40" v-bind:class="[app_name===app?'app-icon-big':'app-icon']"
                                 v-on:click="setAppName(app)"
                                 src="/static/AppSimulator/images/app/[[app]]/app_icon.png">
                        </label>
                    </div>
                    <a href="/AppSimulator/dashboard/" class="small-box-footer">
                        详情&nbsp;
                        <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row nav-tabs-custom">
            <div class="tab-content">
                <!-------------------------- emulators -------------------------------------------------->
                <section v-for="host in hosts" class="col-md-12 connectedSortable">
                    <div class="box box-info">
                        <div class="box-header with-border"><!-- host info-->
                            <h1 class="box-title label bg-gray">[[ host.ip ]]</h1>
                            <small class="badge bg-green">[[ host.mem_total ]] GB
                            </small>
                            <small v-for="app_name in host.support_app_list">
                                <img id="app_icon" height="30" style="border-radius:3px;"
                                     src="/static/AppSimulator/images/app/[[app_name]]/app_icon.png">
                            </small>
                            <div class="box-tools pull-left">
                                <span class="label label-info">多模拟器</span>
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!---------------------------- emulator info -------------------------->
                        <div class="box-body">
                            <div class="docker col-md-3" v-for="emulator in host.emulators">
                                <small>
                                    <img id="current" height="30" style="border-radius:3px;"
                                         src="[[emulator.app_icon]]">
                                </small>
                                <label class="badge bg-gray">[[ emulator.name ]]</label>
                                <span v-bind:class="[emulator.status==='unkown'?'badge bg-gray':
                                        (emulator.status==='running'?'badge bg-green':'badge bg-yellow')]">
                                        [[ emulator.status ]]
                                    </span>
                                <div class="docker-capture">
                                    <img id="current" height="240" class="capture"
                                         src="[[emulator.capture]]">
                                    <img id="before" height="240" class="capture"
                                         src="[[emulator.capture_before]]">
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            {#<input type="text" placeholder="latitude" v-model="latitude" style="width:35%;">#}
                            {#<input type="text" placeholder="longitude" v-model="longitude" style="width:35%;">#}
                            {#<button v-on:click="setDeviceGPS" class="btn btn-xs btn-info">位置设定</button>#}
                            {#<button v-on:click="restartDevice" class="btn btn-xs btn-info">重启</button>#}
                            {#<button v-on:click="stopScript" class="btn btn-xs btn-info">停止脚本</button>#}
                        </div>
                    </div>
                </section>
                <!--------------------------- vmwares ------------------------------->
                <section v-for="vm in vmwares" class="col-md-12 connectedSortable">
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h1 class="box-title label bg-gray">[[ vm.local_ip ]] @ [[ vm.host_ip ]]</h1>
                            <label class="badge bg-gray">[[ vm.name ]]</label>
                            <small class="badge bg-green">[[ vm.mem_total ]] GB
                            </small>
                            <span v-bind:class="[vm.status==='unkown'?'badge bg-gray':
                                (vm.status==='running'?'badge bg-green':'badge bg-yellow')]">[[ vm.status ]]
                            </span>
                            <small>
                                <img id="app_icon" height="30" style="border-radius:3px;"
                                     src="/static/AppSimulator/images/app/[[vm.app_name]]/app_icon.png">
                            </small>
                            <div class="box-tools pull-left">
                                <span class="label label-warning">VMware</span>
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="emulator-capture">
                                <img id="current" height="240" class="capture" src="[[vm.capture]]">
                                <img id="before" height="240" class="capture" src="[[vm.capture_before]]">
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock section_content %}

{% block jquery_js %}

{% endblock jquery_js %}

{% block body_tail %}
    <!-- page script -->
    <script type="text/javascript"
            src="{% static 'plugins/echarts/extension/dataTool.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/echarts/echarts-all-3.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/demo.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/dark.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/infographic.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/macarons.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/roma.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/shine.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/vintage.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/vue1/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'AppSimulator/js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'AppSimulator/js/vue_filter.js' %}"></script>
    <script type="text/javascript" src="{% static 'AppSimulator/js/dashboard.js' %}"></script>
    <script type="text/javascript">
        {#const HOST = "http://192.168.31.227:8000";#}
        const DEVICE_STATUS_UNKOWN = 'unkown';
        const DEVICE_STATUS_RUN = 'running';
        const DEVICE_STATUS_SUSPEND = 'suspend';

        function setDeviceGPS(obj) {
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/setDeviceGPSAPI/',
                type: 'POST',
                data: {
                    deviceId: obj.deviceId,
                    latitude: obj.latitude,
                    longitude: obj.longitude
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] setDeviceGPSAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function restartDevice(obj) {
            console.log("restartDevice ...");
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/restartDeviceAPI/',
                type: 'GET',
                data: {
                    deviceId: obj.deviceId
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] restartDeviceAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function startProxyServer(obj) {
            console.log("start proxy server ...");
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/startProxyServerAPI/',
                type: 'GET',
                data: {},
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] startProxyServerAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function startScript(obj) {
            console.log("startScript ...");
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/startScriptAPI/',
                type: 'GET',
                data: {
                    deviceId: obj.deviceId
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] startScriptAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function stopScript(obj) {
            console.log("stopScript ...");
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/stopScriptAPI/',
                type: 'GET',
                data: {
                    deviceId: obj.deviceId
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] stopScriptAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function runTasks(obj) {
            console.log("runTasks ...");
            if (obj.deviceId === '') {
                alert("请选择设备。");
                return false;
            }
            let opt = {
                url: '/AppSimulator/runTasksAPI/',
                type: 'GET',
                data: {
                    app_name: obj.app_name,
                    tasks_cnt: obj.tasksCnt
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] runTasksAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "OK";
                }
            };
            $.ajax(opt);
        }

        function getVMwares(obj) {
            let opt = {
                url: '/AppSimulator/getVMwaresAPI/',
                type: 'GET',
                data: {},
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] getVMwares", err);
                },
                success: function (data, status) {
                    console.log('getVMwares', data);
                    obj.msg = "OK";
                    for (let i = 0; i < 1000; i++) {
                        obj.vmwares.shift();
                    }
                    for (let i = 0; i < data['ret'].length; i++) {
                        obj.vmwares.push(data['ret'][i])
                    }
                }
            };
            $.ajax(opt);
        }

        function getHosts(obj) {
            let opt = {
                url: '/AppSimulator/getHostsAPI/',
                type: 'GET',
                data: {},
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "Failure";
                    console.error("[dashboard] getHosts", err);
                },
                success: function (data, status) {
                    console.log('getHosts', data);
                    obj.msg = "OK";
                    for (let i = 0; i < 1000; i++) {
                        obj.hosts.shift();
                    }
                    for (let i = 0; i < data['ret'].length; i++) {
                        obj.hosts.push(data['ret'][i])
                    }
                }
            };
            $.ajax(opt);
        }

        //----------------------------------------------------------------------------
        Vue.config.delimiters = ['[[', ']]'];
        //----------------------------------------------------------------------------
        let mainVue = new Vue({
            el: "#main",
            data: {
                proxyServerInfo: {
                    memory_rate: 0,
                    cpu_percent: 0,
                    hd_percent: 0
                },
                app_name: '', // 'douyin', 'dianping', 'miaopai'
                tasksCnt: 4,
                dockerName: 'nox-1',
                dockersCnt: 0,
                support_app_list: ['douyin', 'miaopai', 'dianping'],
                vmwares: [],
                hosts: [],
                emulators: [
                    {
                        ip: '192.168.31.227',
                        memory_total: '7.9',
                        memory_free: '1.9',
                        app: ['douyin', 'dianping', 'miaopai'],
                        dockers: [{
                            name: 'nox-1',
                            app: 'douyin',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }, {
                            name: 'nox-2',
                            app: 'dianping',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }, {
                            name: 'nox-3',
                            app: 'miaopai',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }, {
                            name: 'nox-4',
                            app: 'miaopai',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }, {
                            name: 'nox-5',
                            app: 'miaopai',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }, {
                            name: 'nox-6',
                            app: 'miaopai',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }]
                    }, {
                        ip: '192.168.31.228',
                        memory_total: '7.9',
                        memory_free: '1.9',
                        app: ['douyin', 'dianping', 'miaopai'],
                        dockers: [{
                            name: 'nox-1',
                            app: 'douyin',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }, {
                            name: 'nox-2',
                            app: 'dianping',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }, {
                            name: 'nox-3',
                            app: 'miaopai',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }, {
                            name: 'nox-4',
                            app: 'miaopai',
                            status: DEVICE_STATUS_RUN,
                            cnt: 0,
                            dedup_cnt: 0,
                            gps: {}
                        }]
                    }
                ],
                gps: {
                    district: '海淀区',
                    lng_lat: "",
                    latitude: 39.6099202570, // 经度
                    longitude: 118.1799316404, // 纬度
                    current_address: "",
                    search_address: '',
                },
                msg: ""
            },
            methods: {
                trace: function () {
                },
                setAppName: function (app_name) {
                    if (this.app_name !== app_name)
                        this.app_name = app_name;
                    else
                        this.app_name = '';
                },
                setDeviceGPS: function () {
                    setDeviceGPS(this);
                },
                restartDevice: function () {
                    restartDevice(this);
                },
                startScript: function () {
                    startScript(this);
                },
                stopScript: function () {
                    stopScript(this);
                },
                startProxyServer: function () {
                    startProxyServer(this);
                },
                runTasks: function () {
                    runTasks(this);
                }
            },
            created: function () {
                getVMwares(this);
                getHosts(this);
            },
            watch: {},
            computed: {
        {#dockersCnt: function () {#}
        {#    let cnt = 0;#}
        {#    this.rpcServer.forEach(server => {#}
        {#        cnt += server.dockers.length;#}
        {#    });#}
        {#    return cnt;#}
        {#},#}
            {#app_list: function () {#}
            {#    let l = [];#}
            {#    this.rpcServer.forEach(server => {#}
            {#        server.app.forEach(app => {#}
            {#            l.push(app);#}
            {#        });#}
            {#    });#}
            {#    return Array.from(new Set(l));#}
            {#}#}
            }
        }
        )
        ;
    </script>
{% endblock body_tail %}
