{% extends 'base_backend_frameless.html' %}
{% load static %}

{% block header_tail %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <p>device1</p>
                    <h3 id="device1">0</h3>
                </div>
                <div class="icon">
                    <i class="fa fa-mobile-phone"></i>
                </div>
                <a href="/AppSimulator/dashboard/" class="small-box-footer">
                    详情&nbsp;
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-green">
                <div class="inner">
                    <p>device2</p>
                    <h3 id="device2">0<sup style="font-size: 20px"></sup></h3>
                </div>
                <div class="icon">
                    <i class="fa fa-mobile-phone"></i>
                </div>
                <a href="/AppSimulator/dashboard/" class="small-box-footer">
                    详情&nbsp;
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <p>device3</p>
                    <h3 id="device3">0</h3>
                </div>
                <div class="icon">
                    <i class="fa fa-mobile-phone"></i>
                </div>
                <a href="/AppSimulator/dashboard/" class="small-box-footer">
                    详情&nbsp;
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <p>device4</p>
                    <h3 id="device4">0</h3>
                </div>
                <div class="icon">
                    <i class="fa fa-mobile-phone"></i>
                </div>
                <a href="/AppSimulator/dashboard/" class="small-box-footer">
                    详情&nbsp;
                    <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- 入口总数 -->
        <section class="col-md-6 connectedSortable">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">入口总数</h3>
                    <select id="newDomainSel" class="input-sm" style="width:150px;"
                            onchange="reDrawNewDoaminDays(this.options[this.options.selectedIndex].value)">
                        <option value="week">最近一周</option>
                        <option value="month">最近一个月</option>
                        <option value="year">最近一年</option>
                    </select>
                    <div class="box-tools pull-left">
                        <span class="label label-primary">每日新增</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div id="newEntranceCntByDays" class="box-body">
                    <div id="entranceCntByDays" style="width:100%;height:280px;"> loading ...</div>
                </div>
            </div>
        </section>
        <!-- 入口采集量排名 -->
        <section class="col-md-6 connectedSortable">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">入口采集量排名</h3>
                    <div class="box-tools pull-left">
                        <span class="label label-success">Top10</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="entrance_rank" style="width:100%;height:280px;"> loading ...</div>
                </div>
            </div>
        </section>
        <!-- 运行状态 -->
        <section class="col-md-6 connectedSortable">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">运行状态</h3>
                    <div class="box-tools pull-left">
                        <span class="label label-primary">分类</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="runStatus" style="width:100%;height:280px;"> loading ...</div>
                </div>
            </div>
        </section>
        <!-- Redis内存使用情况-->
        <section class="col-md-6 connectedSortable">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">CPU使用情况</h3>
                    <div class="box-tools pull-left">
                        <span class="label label-default">百分比</span>
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div id="redis_monitor" style="width:100%;height:280px;"> loading ...</div>
                </div>
            </div>
        </section>
    </div>
{% endblock section_content %}

{% block jquery_js %}

{% endblock jquery_js %}

{% block body_tail %}
    <!-- page script -->
    <script type="text/javascript"
            src="{% static 'plugins/echarts/extension/dataTool.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/echarts/echarts-all-3.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/demo.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/dark.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/infographic.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/macarons.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/roma.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/shine.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/vintage.js' %}"></script>
    <script type="text/javascript" src="{% static 'AppSimulator/js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'AppSimulator/js/dashboard.js' %}"></script>
    <script type="text/javascript">

    </script>
{% endblock body_tail %}
