{% extends 'base_backend_frameless.html' %}
{% load static %}

{% block header_tail %}
  <link rel="stylesheet" href="{% static 'detection/detection.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
  <div id="main" v-cloak>
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header"></div>
        <!--
        <span class="btn btn-success fileinput-button">
            <span>上传</span>
            <input type="file" name="file" id="file_upload" onclick="FileUpload()">
        </span>
        -->
        <div class="box-body table-responsive">
          <div class="col-md-4">
            <img src="[[img_src]]">
            <h5>base64编码后大小不超过4M，最短边至少15px，最长边最大4096px，长宽比3：1以内</h5>
            <input type="file" name="file" id="file_upload" class="btn btn-sm btn-default"
                   style="display:inline-block;overflow:hidden;">
            <button type="button" onclick="FileUpload()" class="btn btn-info" style="display:inline-block;">[[action]]
            </button>
          </div>
          <div class="col-md-8 pull-right">
            <h1>车身颜色：[[color_result]]</h1>
            <table class="table table-hover">
              <tbody>
              <tr>
                <th width="10%">预测车型</th>
                <th width="10%">匹配度</th>
                <th width="10%">生产年份</th>
                {#<th width="20%">baike_info</th>#}
                <th width="70%">车型描述</th>
                {#<th width="20%">baike_info</th>#}
              </tr>
              <tr v-for="info in info_list">
                <td><a href="[[info.baike_url]]" target="_blank">[[ info.name ]]</a></td>
                <td>[[ info.score ]]%</td>
                <td>[[ info.year ]]</td>
                {#<td>[[ info.baike_info.baike_url ]]</td>#}
                <td>[[ info.description ]]</td>
                {#<td><img src="[[ info.baike_info.image_url ]]"></td>#}
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock section_content %}
{% block jquery_js %}
{% endblock jquery_js %}
{% block body_tail %}
  <script type="text/javascript" src="{% static 'plugins/vue1/vue.js' %}"></script>
  <script type="text/javascript">
    function FileUpload() {
      let form_data = new FormData();
      mainVue.file_info = $('#file_upload')[0].files[0];
      form_data.append('file', mainVue.file_info);
      //if(file_info==undefined)暂且不许要判断是否有附件
      //alert('你没有选择任何文件');
      //return false
      // base64编码后大小不超过4M，最短边至少15px，最长边最大4096px，长宽比3：1以内
      mainVue.action = '正在识别 。。。';
      let opt = {
        url: '/AppSimulator/uploadAPI/',
        type: 'POST',
        data: form_data,
        processData: false,  // tell jquery not to process the data
        contentType: false, // tell jquery not to set contentType
        error: function (xhr, err) {
          mainVue.action = '识别失败';
          console.error("[detection] uploadAPI", err);
        },
        success: function (data, status) {
          mainVue.action = '识别完成';
          setTimeout(function () {
            mainVue.action = '开始识别';
          }, 2000);
          console.log('ok', status);
          console.log(data);
          mainVue.color_result = data.color_result;
          mainVue.img_src = data.img_src;
          for (let i = 0; i < 100; i++) {
            mainVue.info_list.shift();
          }
          for (let i = 0; i < data.result.length; i++) {
            let info = data.result[i];
            let score = (info.score * 100).toFixed(3);
            mainVue.info_list.push({
              name: info.name,
              score: score,
              year: info.year,
              description: info.baike_info.description,
              baike_url: info.baike_info.baike_url,
            });
          }
        }
      };
      $.ajax(opt);
    }

    //----------------------------------------------------------------------------
    Vue.config.delimiters = ['[[', ']]'];
    //----------------------------------------------------------------------------
    let mainVue = new Vue({
      el: "#main",
      data: {
        file_info: null,
        action: '开始识别',
        color_result: '未知',
        img_src: '/static/upload/wait.png',
        info_list: [],
        msg: ""
      },
      methods: {},
      created: function () {
      },
      watch: {},//deep: true
      computed: {}
    });
  </script>
{% endblock body_tail %}