{% extends 'base_backend_frameless.html' %}
{% load static %}

{% block header_tail %}
  <link rel="stylesheet" href="{% static 'AppSimulator/css/emulators.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
  <div id="main" v-cloak>
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">Emulators</h3>
          <div class="box-tools">
            <a class="btn btn-primary" title="back" href="/AppSimulator/dashboard/">
              <i class="fa fa-fw fa-lg fa-arrow-left pull-right"></i>
            </a>
          </div>
        </div>
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tbody>
            <tr>
              <th width="5%">TaskId</th>
              <th width="10%">APP</th>
              <th width="10%">Host-IP</th>
              <th width="5%">Status</th>
              <th width="10%">Start Time</th>
              <th width="10%">End Time</th>
              <th width="10%">Spend Time</th>
            </tr>
            <tr v-for="emu in emulators">
              <td><label class="label label-default">[[ emu.taskId ]]</label></td>
              <td title="[[ emu.app_name ]]">
                <img class="app-icon" v-bind:src="'/static/AppSimulator/images/app/'+emu.app_name+'/app_icon.png'">
              </td>
              <td>[[ emu.host_ip ]]</td>
              <td>
                <span v-bind:class="[emu.status.indexOf('_ok')!=-1?'label label-success':
                (emu.status.indexOf('_ng')!=-1?'label label-danger':'label label-default')]">[[ emu.status ]]
                </span>
              </td>
              <td>[[ emu.start_time ]]</td>
              <td>[[ emu.end_time ]]</td>
              <td>[[ emu.spend_times ]]</td>
              <td>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock section_content %}

{% block jquery_js %}

{% endblock jquery_js %}

{% block body_tail %}
  <!-- page script -->
  <script type="text/javascript"
          src="{% static 'plugins/echarts/extension/dataTool.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/echarts/echarts-all-3.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/demo.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/dark.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/infographic.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/macarons.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/roma.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/shine.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/vintage.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/vue1/vue.js' %}"></script>
  <script type="text/javascript" src="{% static 'AppSimulator/js/csrf.js' %}"></script>
  <script type="text/javascript">
    const STATUS_UNKOWN = 'unkown';
    const STATUS_WAIT = 'wait'; // wait
    const STATUS_DOCKER_RUN = 'docker_run';  // docker running(create and run) ...
    const STATUS_DOCKER_RUN_OK = 'docker_run_ok';
    const STATUS_DOCKER_RUN_NG = 'docker_run_ng';

    const STATUS_SCRIPT_START = 'script_start'; // script running ...
    const STATUS_SCRIPT_START_OK = 'script_start_ok';
    const STATUS_SCRIPT_START_NG = 'script_start_ng';
    const STATUS_SCRIPT_SUSPEND = 'script_suspend';  // task interrupt
    const STATUS_SCRIPT_RUN_OK = 'script_run_ok';  // task run complete

    function getEmulators(obj) {
      let opt = {
        url: '/AppSimulator/getEmulatorsAPI/',
        type: 'GET',
        data: {
          // host_ip: ''
        },
        dataType: "json",
        error: function (xhr, err) {
          obj.msg = "failure";
          console.error("[emulators] getEmulatorsAPI", err);
        },
        success: function (data, status) {
          console.log(data);
          for (let i = 0; i < 1000; i++) {
            obj.emulators.shift();
          }
          for (let i = 0; i < data['ret'].length; i++) {
            obj.emulators.push(data['ret'][i])
          }
          obj.msg = "success";
        }
      };
      $.ajax(opt);
    }

    //----------------------------------------------------------------------------
    Vue.config.delimiters = ['[[', ']]'];
    //----------------------------------------------------------------------------
    let mainVue = new Vue({
      el: "#main",
      data: {
        app_name_list: ['douyin', 'miaopai', 'kuaishou', 'huoshan', 'xigua', 'xiaokaxiu', 'xiaohongshu'],
        emulator: {
          taskId: '等待分配',
          host_ip: '',
          app_name: '',
          status: STATUS_WAIT
        },
        emulators: [],
        msg: ""
      },
      methods: {
      },
      created: function () {
        getEmulators(this);
      },
      watch: {},//deep: true
      computed: {}
    });
  </script>
{% endblock body_tail %}



