{% extends 'base_backend_frameless.html' %}
{% load static %}

{% block header_tail %}
    {#    <meta http-equiv="refresh" content="5">#}
    <link rel="stylesheet" href="{% static 'AppSimulator/css/hosts.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
    <div id="main" v-cloak>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Hosts</h3>
                    <div class="box-tools">
                        <a class="btn btn-primary" title="back" href="/AppSimulator/dashboard/">
                            <i class="fa fa-fw fa-lg fa-arrow-left pull-right"></i>
                        </a>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th width="10%">IP</th>
                            <th width="10%">Host Type</th>
                            <th width="40%">Support APP</th>
                            <th width="10%">Timer_max_cnt</th>
                            <th width="10%">Memory Total</th>
                        </tr>
                        <tr>
                            <td><input type="text" v-model="host.ip" placeholder="ip"></td>
                            <td><input type="text" v-model="host.host_type" placeholder="vmware or emulator"></td>
                            <td>
                                <label v-for="app in appAll">
                                    <img height="40" class="app-icon"
                                         v-bind:class="[app_name===app?'app-icon-big':'app-icon']"
                                         v-on:click="setAppName(app)"
                                         v-bind:src="'/static/AppSimulator/images/app/' + app + '/app_icon.png'">
                                </label>
                            </td>
                            <td><input type="text" v-model="host.timer_max_cnt" placeholder=""></td>
                            <td><input type="text" v-model="host.mem_total" placeholder=""></td>
                            <td><i v-on:click="addTask" class="fa fa-fw fa-2x fa-plus-square-o" title="增加"></i></td>
                        </tr>
                        <tr v-for="h in hosts">
                            <td>[[ h.ip ]]</td>
                            <td>[[ h.host_type ]]</td>
                            <td><img height="40" class="app-icon" v-for="app in h.support_app_list"
                                     src="/static/AppSimulator/images/app/[[app]]/app_icon.png"></td>
                            <td>[[ h.timer_max_cnt ]]</td>
                            <td>[[ h.mem_total ]] GB</td>
                            <td>
                                <i class="fa fa-fw fa-lg fa-pencil-square-o"></i>
                                <i class="fa fa-fw fa-lg fa-trash-o "></i>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock section_content %}

{% block jquery_js %}

{% endblock jquery_js %}

{% block body_tail %}
    <!-- page script -->
    <script type="text/javascript"
            src="{% static 'plugins/echarts/extension/dataTool.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/echarts/echarts-all-3.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/demo.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/dark.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/infographic.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/macarons.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/roma.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/shine.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/vintage.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/vue1/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'AppSimulator/js/csrf.js' %}"></script>
    <script type="text/javascript">
        const STATUS_UNKOWN = 'unkown';
        const STATUS_WAIT = 'wait'; // wait
        const STATUS_DOCKER_RUN = 'docker_run';  // docker running(create and run) ...
        const STATUS_DOCKER_RUN_OK = 'docker_run_ok';
        const STATUS_DOCKER_RUN_NG = 'docker_run_ng';

        const STATUS_SCRIPT_START = 'script_start'; // script running ...
        const STATUS_SCRIPT_START_OK = 'script_start_ok';
        const STATUS_SCRIPT_START_NG = 'script_start_ng';
        const STATUS_SCRIPT_SUSPEND = 'script_suspend';  // task interrupt
        const STATUS_SCRIPT_RUN_OK = 'script_run_ok';  // task run complete

        function getAllHosts(obj) {
            let opt = {
                url: '/AppSimulator/getAllHostsAPI/',
                type: 'GET',
                data: {
                    {#status: ''#}
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "failure";
                    console.error("[tasks] getAllHosts", err);
                },
                success: function (data, status) {
                    console.log(data);
                    for (let i = 0; i < 1000; i++) {
                        obj.hosts.shift();
                    }
                    for (let i = 0; i < data['ret'].length; i++) {
                        obj.hosts.push(data['ret'][i])
                    }
                    obj.msg = "success";
                }
            };
            $.ajax(opt);
        }

        function addHost(obj) {
            let opt = {
                url: '/AppSimulator/addHostAPI/',
                type: 'POST',
                data: {
                    script: obj.task.script,
                    app_name: obj.task.app_name,
                    live_cycle: obj.task.live_cycle,
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "failure";
                    console.error("[tasks] addHostAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "success";
                }
            };
            $.ajax(opt);
        }

        //----------------------------------------------------------------------------
        Vue.config.delimiters = ['[[', ']]'];
        //----------------------------------------------------------------------------
        let mainVue = new Vue({
            el: "#main",
            data: {
                appAll: ['douyin', 'miaopai', 'kuaishou', 'huoshan'],
                host: {
                    "ip": '',
                    "host_type": 'emulator',
                    "support_app_list": [],
                    "timer_max_cnt": 0,
                    "mem_total": 0
                },
                hosts: [],
                msg: ""
            },
            methods: {
                addHost: function () {
                    this.hosts.push(this.host);
                    addHost(this);
                }
            },
            created: function () {
                getAllHosts(this);
            },
            watch: {},
            computed: {}
        });
    </script>
{% endblock body_tail %}



