{% extends 'base_backend_frameless.html' %}
{% load static %}

{% block header_tail %}
  <link rel="stylesheet" href="{% static 'AppSimulator/css/tasks.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
  <div class="box-header">
    <h3 class="box-title">Tasks start frequency</h3>
    <div class="box-tools">
      <a class="btn btn-primary" title="back" href="/AppSimulator/dashboard/">
        <i class="fa fa-fw fa-lg fa-arrow-left pull-right"></i>
      </a>
    </div>
  </div>
  <div id="tasks" style="height:600px"></div>
  <div id="main" style="height:400px">
    <div id="children"></div>
  </div>
{% endblock section_content %}

{% block jquery_js %}

{% endblock jquery_js %}

{% block body_tail %}
  <!-- page script -->
  <script type="text/javascript" src="{% static 'plugins/echarts/echarts.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'dist/js/demo.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/dark.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/infographic.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/macarons.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/roma.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/shine.js' %}"></script>
  <script type="text/javascript" src="{% static 'backend/js/theme/vintage.js' %}"></script>
  <script type="text/javascript" src="{% static 'plugins/vue1/vue.js' %}"></script>
  <script type="text/javascript" src="{% static 'AppSimulator/js/csrf.js' %}"></script>
  <script type="text/javascript">
    function draw(tasks, data) {
      let dom = document.getElementById("tasks");
      let myChart = echarts.init(dom, {renderer: 'svg'});
      let app = {};
      app.title = '任务启动次数分布';

      let hours = ['0am', '1am', '2am', '3am', '4am', '5am', '6am', '7am', '8am', '9am', '10am', '11am', '12am',
        '1pm', '2pm', '3pm', '4pm', '5pm', '6pm', '7pm', '8pm', '9pm', '10pm', '11pm'];
      data = data.map(function (item) {
        return [item[1], item[0], item[2] || '-'];
      });

      let option = {
        tooltip: {
          position: 'top'
        },
        animation: false,
        grid: {
          height: '50%',
          y: '10%'
        },
        xAxis: {
          type: 'category',
          data: hours,
          splitArea: {
            show: true
          }
        },
        yAxis: {
          type: 'category',
          data: tasks,
          splitArea: {
            show: true
          },
          triggerEvent: true
        },
        visualMap: {
          min: 0,
          max: 10,
          calculable: true,
          orient: 'horizontal',
          right: 0,
          bottom: '15%'
        },
        series: [{
          name: 'tasks start',
          type: 'heatmap',
          data: data,
          label: {
            normal: {
              {#formatter:'{a}: {b}',#}
              show: true
            }
          },
          itemStyle: {
            emphasis: {
              shadowBlur: 10,
              shadowColor: 'rgba(0, 0, 0, 0.5)'
            }
          }
        }]
      };

      if (option && typeof option === "object") {
        myChart.setOption(option, true);
        myChart.on('click', function (params) {
          console.log(params);
          //  window.open('https://www.baidu.com/s?wd=' + encodeURIComponent(params.name));
          window.location.href = '/AppSimulator/tasks/';
        });
        myChart.on('mouseover', function (params) {
          console.log(params);
          if (params.componentType === 'yAxis') {
            getFamily(params.value);
          }
        });
      }
    }

    function getHeatmap(taskIdList) {
      let opt = {
        url: '/AppSimulator/getHeatmapAPI/',
        type: 'GET',
        data: {
          taskIdList: JSON.stringify(taskIdList),
          day: '2018-10-12'
        },
        dataType: "json",
        error: function (xhr, err) {
          console.error("[tasks] getHeatmapAPI", err);
        },
        success: function (data, status) {
          console.log(data);
          draw(taskIdList, data['ret']);
        }
      };
      $.ajax(opt);
    }

    function getFamily(taskId) {
      console.log('getFamily', taskId);
      let opt = {
        url: '/AppSimulator/getHeatmapFamilyAPI/',
        type: 'GET',
        data: {
          taskId: taskId
        },
        dataType: "json",
        error: function (xhr, err) {
          console.error("[tasks] getHeatmapFamilyAPI", err);
        },
        success: function (data, status) {
          console.log(data);
          drawFamily(taskId, data['ret']);
        }
      };
      $.ajax(opt);
    }

    {#getHeatmap([13, 14, 15, 16, 17, 18, 19, 20]);#}
    getHeatmap([10109, 10110, 10111, 10112, 10113, 10114, 10115, 10116]);

    function drawFamily(orgTaskId, data) {
      console.log('drawFamily:', orgTaskId);
      $('#children').remove();
      $('#main').html('<div id="children" style="width:100%;height:300px;"></div>');

      let dom = document.getElementById("children");
      let myChart = echarts.init(dom, {renderer: 'svg'});
      let app = {};
      let option = {
        dataset: {
          source: data
        },
        grid: {containLabel: true},
        xAxis: {name: 'crawlCnt'},
        yAxis: {type: 'category'},
        visualMap: {
          orient: 'horizontal',
          bottom: 0,
          right: 0,
          min: 10,
          max: 100,
          text: ['Short Times', 'Long Times'],
          dimension: 0,
          inRange: {
            color: ['#D7DA8B', '#E15457']
          }
        },
        series: [
          {
            type: 'bar',
            encode: {
              x: 'crawlCnt',
              y: 'taskId'
            }
          }
        ]
      };
      if (option && typeof option === "object") {
        myChart.setOption(option, true);
      }
    }
  </script>
{% endblock body_tail %}



