{% extends 'base_backend_frameless.html' %}
{% load static %}

{% block header_tail %}
    {#    <meta http-equiv="refresh" content="5">#}
    <link rel="stylesheet" href="{% static 'AppSimulator/css/tasks.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/datatables/dataTables.bootstrap.css' %}">
{% endblock header_tail %}

{% block section_content %}
    <div id="main" v-cloak>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">VMware</h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th width="10%">Name</th>
                            <th width="10%">IP</th>
                            <th width="10%">Host</th>
                            <th width="20%">APP</th>
                            <th width="5%">TaskId</th>
                            <th width="20%">Status</th>
                            <th width="10%">ShareLink</th>
                            <th width="10%">LastTime</th>
                        </tr>
                        <tr>
                            <td><input type="text" v-model="task.name" placeholder="等待分配" readonly></td>
                            <td><input type="text" v-model="task.ip" placeholder="等待分配" readonly></td>
                            <td><input type="text" v-model="task.taskId" placeholder="等待分配" readonly></td>
                            <td>
                                <label v-for="app in appAll">
                                    <img v-bind:class="[task.app_name===app?'app-icon-big':'app-icon']"
                                         v-on:click="setAppName(app)"
                                         v-bind:src="'/static/AppSimulator/images/' + app + '/app_icon.png'">
                                </label>
                            </td>
                            <td><input type="text" v-model="task.app_name" placeholder="等待分配"></td>
                            <td>
                                <span v-bind:class="[task.status==='unkown'?'label label-default':
                                (task.status==='running'?'label label-success':'label label-warring')]">[[ task.status ]]</span>
                            </td>
                            <td>
                                <button v-on:click="addTask" class="fa fa-2x fa-plus-circle pull-right"
                                        style="color:orange;" title="增加"></button>
                            </td>
                        </tr>
                        <tr v-for="vm in vmwares">
                            <td>[[ vm.name ]]</td>
                            <td>[[ vm.ip ]]</td>
                            <td>[[ vm.host_ip ]]</td>
                            <td><img class="app"
                                     v-bind:src="'/static/AppSimulator/images/'+vm.app_name+'/app_icon.png'">
                            </td>
                            <td>[[ vm.taskId ]]</td>
                            <td><span v-bind:class="[vm.status==='unkown'?'label label-default':
                                (vm.status==='running'?'label label-success':'label label-warring')]">[[ vm.status ]]</span>
                            </td>
                            <td>[[ vm.cnt ]]</td>
                            <td>[[ vm.last_time ]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock section_content %}

{% block jquery_js %}

{% endblock jquery_js %}

{% block body_tail %}
    <!-- page script -->
    <script type="text/javascript"
            src="{% static 'plugins/echarts/extension/dataTool.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/echarts/echarts-all-3.js' %}"></script>
    <script type="text/javascript" src="{% static 'dist/js/demo.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/dark.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/infographic.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/macarons.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/roma.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/shine.js' %}"></script>
    <script type="text/javascript" src="{% static 'backend/js/theme/vintage.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/vue1/vue.js' %}"></script>
    <script type="text/javascript" src="{% static 'AppSimulator/js/csrf.js' %}"></script>
    <script type="text/javascript">
        const STATUS_UNKOWN = 'unkown';
        const STATUS_RUN = 'running';
        const STATUS_SUSPEND = 'suspend';

        function addTask(obj) {
            let opt = {
                url: '/AppSimulator/addTaskAPI/',
                type: 'POST',
                data: {
                    script: obj.task.script,
                    app_name: obj.task.app_name,
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "failure";
                    console.error("[vmconf] addTaskAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "success";
                }
            };
            $.ajax(opt);
        }

        function getVMwares(obj) {
            let opt = {
                url: '/AppSimulator/getVMwaresAPI/',
                type: 'GET',
                data: {
                    host_ip: obj.host_ip
                },
                dataType: "json",
                error: function (xhr, err) {
                    obj.msg = "failure";
                    console.error("[vmconf] getVMwaresAPI", err);
                },
                success: function (data, status) {
                    obj.msg = "success";
                    obj.vmwares = data['ret'];
                }
            };
            $.ajax(opt);
        }

        //----------------------------------------------------------------------------
        Vue.config.delimiters = ['[[', ']]'];
        //----------------------------------------------------------------------------
        let mainVue = new Vue({
            el: "#main",
            data: {
                docker_type: 'vm', // nox or vm
                appAll: ['douyin', 'miaopai', 'dianping', 'toutiao'],
                task: {
                    taskId: '请指定',
                    ip: '请指定',
                    host_ip: '请指定',
                    port: '请指定',
                    script: '',
                    app_name: '',
                    status: STATUS_UNKOWN
                },
                {#host_ip: '172.16.253.37',#}
                host_ip: '',
                vmwares: [],
                msg: ""
            },
            methods: {
                setAppName: function (app_name) {
                    if (this.task.app_name !== app_name) {
                        this.task.app_name = app_name;
                        this.task.script = 'script_' + app_name + '.py';
                    } else {
                        this.task.app_name = '';
                        this.task.script = '';
                    }
                },
                addTask: function () {
                    this.tasks.push(this.task);
                    addTask(this);
                }
            },
            created: function () {
                getVMwares(this);
                /*
                this.vmwares = [{
                    ip: '192.168.84.144',
                    host_ip: '192.168.84.144',
                    name: 'vm1',
                    taskId: 1,
                    app_name: 'douyin',
                    status: STATUS_RUN,
                    disable: false,
                    start_time: 0,
                    end_time: 0
                }, {
                    ip: '192.168.84.143',
                    host_ip: '192.168.84.144',
                    name: 'vm2',
                    taskId: 2,
                    app_name: 'miaopai',
                    status: STATUS_RUN,
                    disable: false,
                    start_time: 0,
                    end_time: 0
                }, {
                    ip: '172.16.253.233',
                    host_ip: '192.168.84.144',
                    name: 'vm3',
                    taskId: 3,
                    app_name: 'dianping',
                    status: STATUS_RUN,
                    disable: false,
                    start_time: 0,
                    end_time: 0
                }];
                //*/
            },
            watch: {},
            computed: {}
        });
    </script>
{% endblock body_tail %}



