{% extends 'base_backend.html' %}
{% load static admin_static i18n %}

{% block header_tail %}
    <link rel="stylesheet" href="{% static 'backend/backend_admin/css/style.css' %}">
{% endblock header_tail %}

{% block section_content %}
    <div>
        <div class="box-header with-border">
            <h3 class="box-title" style="float: left">修改{{ username }}密码</h3>
        </div>
        <!-- form start -->
        <div class="box box-primary">
            <div class="box-body">
                {% if username %}
                    <span class="no-display" id="change-user-admin">{{ username }}</span>
                {% else %}<span class="no-display" id="change-user-admin">#1</span>{% endif %}
                <form id="change_password" role="form" action="
                        {% if username %}{% url 'backend_admin:change_user_password' user_id %}{% else %}{% url 'backend_admin:change_password' %}{% endif %}"
                      method="post">{% csrf_token %}
                    {% for field in change_password_form %}
                        <div class="form-group">
                            <label for="">{{ field.label }}</label>
                            <p>{{ field }}</p>
                            {{ field.help_text }}
                            <p style="color: red">{{ field.errors }}</p>
                        </div>
                    {% endfor %}

                    <div class="box-footer">
                        <p type="submit" class="btn btn-primary" id="change_password_save">确认</p>
                        <button type="submit" class="btn btn-primary" id="change_password_submit" name="_submit"
                                style="display: none">sure
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock section_content %}

{% block jquery_js %}
    <script src='{% static "backend/backend_admin/js/changepassword.js" %}'></script>
{% endblock jquery_js %}